{{ partial "global-header.html" . }}

<!-- contact form start -->
{{ with .Site.Params.contact }}
<section id="contact-form">
  <style>
    .grecaptcha-badge {
      display: none;
    }
  </style><Paste>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script>
    function onSubmit(token) {
      document.getElementById("invisible-recaptcha-form").submit();
    }
  </script>
  <div class="container">
    <div class="row">
        <div class="block">
	  <form id="invisible-recaptcha-form" accept-charset="UTF-8" action="https://usebasin.com/f/8331bc14bf65" enctype="multipart/form-data" method="POST">
	    <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <input type="text" id="name" name="name" class="form-control" placeholder="{{ .form.name }}" required>
                </div>
                <div class="form-group">
			<input type="email" id="email" name="email" class="form-control" placeholder="{{ .form.email }}" required>
                </div>
                <div class="form-group">
                  <input type="text" id="subject" name="subject" class="form-control" placeholder="{{ .form.subject }}" required>
                </div>
	      </div>    
              <div class="col-md-6 col-sm-12">
                <div class="form-group-2">
                  <textarea class="form-control" id="message" name="message" rows="3" placeholder="{{ .form.message }}" required></textarea>
                </div>
		<button class="g-recaptcha btn btn-default" data-sitekey="6Lew3SMUAAAAAJ82QoS7gqOTkRI_dhYrFy1f7Sqy" data-callback='onSubmit' data-badge="inline">Submit</button>
	      </div>    
	    </div>
          </form>
      </div>
    </div>
    <div id="contact-box" class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">

          <h2>{{ .box.title }}</h2>
          <ul class="address-block">
            <li>
              <i class="fa fa-map-marker"></i>{{ .box.address }}
            </li>
            <li>
              <i class="fa fa-phone"></i>{{ .box.phone }}
            </li>
          </ul>
          <ul class="social-icons">
          {{ range .social }}  
            <li>
              <a href="{{ .url }}"><i class="fa {{ .icon }}"></i></a>
            </li>
          {{ end }}
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        {{ with .gmaps}}
        <div class="block">
          <h2>{{ .title }}</h2>
            <div class="google-map">
		    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2948.6206724310982!2d-71.0726859!3d42.3506101!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a74623aca05%3A0x62ea66b9372b4d62!2s75+Arlington+St%2C+Boston%2C+MA+02116!5e0!3m2!1sen!2sus!4v1552234542539" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
