{{ partial "global-header.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- Portfolio Start -->
<section id="expectation">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h2 class="text-uppercase"> {{ $data.expect.header }} </h2>
              <ul style="list-style-type:square;">
		{{ $companies := slice }} 
		{{ range $data.expect.insurance }}
		  {{ $companies = $companies | append .name}}
		{{ end }}
                {{ range ( $companies | uniq ) }}
                  <li class="insurance">{{ . }}</li>
                {{ end }}
              </ul>
	      <p> {{ $data.expect.comment }} </p>
            </div>
            <div class="block">
              <h2 class="text-uppercase"> {{ $data.expect.session }} </h2>
	      <p> {{ $data.expect.fees }} </p>
	    </div>
            <div class="block">
              <h2 class="text-uppercase"> {{ $data.expect.location_title}} </h2>
	      <p> {{ $data.expect.location_desc }} </p>
              <!--
              <ul style="list-style-type:square;">
                <li class="insurance">Green Line: Arlington Street</li>
                <li class="insurance">Orange Line: Back Bay or Tufts Medical Center</li>
                <li class="insurance">Commuter Rail: Back Bay</li>
              </ul>
              -->
	    </div>
      <!--
      <div class="block">
              <h2 class="text-uppercase">Parking</h2>
	      <p> {{ $data.expect.parking }} </p>
	    </div>
      <div class="block">
              <h2 class="text-uppercase">Entrances</h2>
	      <p> {{ $data.expect.entrances }} </p>
	    </div>
      -->
          </div>
        </div>
    </div>
</section>

{{ partial "call-to-action.html" .Site.Data.work.call }}
