<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-6">
      <h2 class="text-uppercase">{{ .Site.Params.education.title }}</h2>
      <ul style="list-style-type:square;">
        <li>{{ .Site.Params.education.ba | markdownify }}</li>
        <li>{{ .Site.Params.education.ma | markdownify }}</li>
        <li>{{ .Site.Params.education.phd| markdownify }}</li>
      </ul>
      <h2 class="text-uppercase">{{ .Site.Params.training.title }}</h2>
      <ul style="list-style-type:square;">
        <li>{{ .Site.Params.training.intern | markdownify }}</li>
        <li>{{ .Site.Params.training.fellow | markdownify }}</li>
      </ul>
      <h2 class="text-uppercase">{{ .Site.Params.specialties.title }}</h2>
      <ul style="list-style-type:square;">
        <li>{{ .Site.Params.specialties.one  | markdownify }}</li>
        <li>{{ .Site.Params.specialties.two  | markdownify }}</li>
        <li>{{ .Site.Params.specialties.three| markdownify }}</li>
        <li>{{ .Site.Params.specialties.four | markdownify }}</li>
        <li>{{ .Site.Params.specialties.five | markdownify }}</li>
        <li>{{ .Site.Params.specialties.six  | markdownify }}</li>
      </ul>
    </div>
  </div>
</div>
</section>
