<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            {{ range .Site.Menus.footer }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        <p>&copy; Dr. Lindsay Wagner, Psy.D. LLC. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
