{{ partial "global-header.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.service.enable }}
<!-- Service Start -->
<section id="service">
  <div class="container">

    <!-- Intro -->
    <div class="row">
      <div class="section-title">
        <h2>{{ $data.service.title }}</h2>
        <p>{{ $data.service.subtitle }}</p>
      </div>
    </div>

    <!-- Content -->
    <div class="col">
      {{ range $data.service.content }}
      <div class="row-sm-6 row-md-3">
        <div class="service-item">
          <i class="{{ .icon }}"></i>
          <h4>{{ .name }}</h4>
          <p>{{ .text }}</p>
	  <div class="col-md-3"></div>
	  <div class="col-md-5">
	    <ul>
	      {{ range .items }}
	      <li class="filter">
	          {{ .item }}
	      </li>
	      {{ end }}
	    </ul>
	  </div>
	  <div class="col-md-3"></div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
