<!DOCTYPE html>
<html>
<head>
	
	{{ partial "head.html" . }}

</head>
<body>

	{{ partial "header.html" . }}

	{{ partial "slider.html" . }}

	{{ partial "wrapper.html" . }}

	{{ partial "feature.html" . }}

	{{ partial "service.html" . }}

	{{ partial "call-to-action.html" . }}

	{{ partial "footer.html" . }}

</body>
</html>
